@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
:root {
    --color-main: hsla(259, 43%, 69%, 1);
    --color-main-hover: hsla(259, 81%, 81%, 1);
    --color-secondary: hsla(259, 38%, 91%, 1);
    --color-cta: hsla(292, 35%, 45%, 1);
    --color-white: hsla(0, 0%, 99%, 1);
    --color-black: hsla(0, 3%, 13%, 1);
    --color-grey: #7A7372;
    /* --desktop-width: 1160px; */
    --desktop-width: 78.9vw;
    /* --desktop-offset: calc(50vw - 580px); */
    --desktop-offset: 10.55vw;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'Oswald', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

p,h1,h2,h3,h4,h5,h6 {
    color: var(--color-black);
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    display: grid;
    place-items: center;
    box-shadow: none;
    border: 0;
    max-width: 186px;
    width: 100%;
    height: 38px;
    border-radius: 19px;
    color: var(--color-white);
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--color-main);
}