@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@font-face {
    font-family: 'CG';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/Century_Gothic.ttf) format("truetype");
}

@font-face {
    font-family: 'CG';
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    src: url(/fonts/gothicb.ttf) format("truetype");
}

:root {
    --color-main: #A38ED2;
    --color-main-hover: #BFA7F6;
    --color-secondary: #E6E1F1;
    --color-cta: #904A9A;
    --color-cta-hover: #C683CF;
    --color-white: #FDFDFD;
    --color-black: #222020;
    --color-grey: #7A7372;
    --color-grey-light: #E8E8E8;
    --color-copyright: #CECDCF;
    --color-red: #FF0000;
    /* --desktop-width: 1160px; */
    --desktop-width: 78.9vw;
    /* --desktop-offset: calc(50vw - 580px); */
    --mobile-offset: 30px;
    --tablet-offset: 86px;
    --desktop-offset: 10.55vw;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

html,
body,
input,
textarea {
    font-family: 'Oswald', sans-serif;
}

input,
textarea {
    font-size: 16px;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.button {
    display: grid;
    place-items: center;
    max-width: 186px;
    width: 100%;
    height: 38px;
    border-radius: 19px;
    color: var(--color-white);
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--color-main);
}

button {
    font-family: 'Oswald', sans-serif;
    box-shadow: none;
    border: 0;
    background: none;
    letter-spacing: 0.7px;
}

.button:hover {
    background-color: var(--color-main-hover);
}

h2 {
    font-size: 36px;
    font-weight: 400;
    color: var(--color-black);
    letter-spacing: 1.8px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

input::placeholder {
    font-family: inherit;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    block-size: 1px;
    border: 0;
    inline-size: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

video {
    max-width: 100%;
}

img {
    display: block;
}

img:not([width]) {
    max-width: 100%;
    width: 100%;
}

@media screen and (min-width: 754px) {
    h2 {
        font-size: 44px;
        text-align: start;
        letter-spacing: 0;
    }
}

@keyframes bounce_small_infinite {
    0%,
    10%,
    26.5%,
    40%,
    to {
        animation-timing-function:cubic-bezier(.215,.61,.355,1);
        transform:translateZ(0)
    }
    20%,
    21.5% {
        animation-timing-function:cubic-bezier(.755,.05,.855,.06);
        transform:translate3d(0,-10px,0)
    }
    35% {
        animation-timing-function:cubic-bezier(.755,.05,.855,.06);
        transform:translate3d(0,-10px,0)
    }
    42.5% {
        transform:translate3d(0,-2px,0)
    }
}